@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #EEF2CE;
}

body {
  color: #01261C;
  overflow-x: hidden;
  background-color: var(--background-color);
}
