---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import InfoText from "../components/InfoText.astro";
import Albums from "../components/Albums.astro";
---

<BaseLayout
  title="Om oss | Los Mexicanacas"
  description="Bli kjent med Los Mexicanacas! Les om bandets historie og våre utgivelser. Se bilder og album fra våre eventyr."
>
  <BackgroundImage alt="Mexicanacas" src="/album-image.jpg" />
  <div class="text-mexi-cream flex flex-col items-center gap-4 pt-20">
    <InfoText />
    <Albums />
  </div>
</BaseLayout>
