---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import bookingImage from "../assets/images/booking-image.jpg";
---

<BaseLayout
  title="Booking | Los Mexicanacas"
  description="Book Los Mexicanacas for ditt neste arrangement! Vi spiller p친 bryllup, firmafester, bursdager og konferanser. Vi sparker i gang festen din og lager god stemning p친 alle typer arrangementer."
  keywords="festband, bryllup musikk, firmafest underholdning, bursdagsband, konferanse musikk, party band Norge, live musikk arrangement, pop-up band, sommerfest underholdning, jobbfest band, julebord musikk, event band booking, mariachi band Norge, firmaevent, bedriftsarrangement, teambuilding musikk, underholdning til firmafest, musikk til kickoff, band til sommerfest bedrift, band til julebord bedrift, bedriftsfest underholdning, eventbyr친 musikk, live musikk bedrift"
>
  <BackgroundImage alt="Los Mexicanacas" src={bookingImage} />
  <div class="text-mexi-cream flex flex-col items-center py-12 md:px-20">
    <section class="bg-mexi-black/50 mx-auto flex max-w-5xl flex-col gap-4 p-6">
      <h1 class="text-2xl md:text-4xl">Booking</h1>
      <p class="text-xl">
        Kontakt oss p친
        <a
          href="mailto:booking@mexi.no"
          class="hover:text-mexi-cream/80 underline"
        >
          booking@mexi.no
        </a>
        for et uforpliktende tilbud!
      </p>
      <p>
        Los Mexicanacas er bandet som spiller opp til fest hvor som helst og for
        hvem som helst! Vi spiller i bryllup og bursdager, p친 firmafester og
        store konferanser. Ingen scene er verken for liten eller stor for oss.
      </p>
      <p>
        Vi er i dag rundt 30 aktive medlemmer, og kan stille opp som alt fra
        kvintetter (5 personer) til fullt band &ndash; men p친 de fleste
        spilleoppdrag er vi cirka 12 deltakere. Vi spiller ofte i 20 minutter
        for 친 sparke i gang festen, ofte som en overraskelse, men kan ogs친
        stille som live band for kvelden og spille lengre sett.
      </p>
      <p>
        Vi er fleksible og har lang erfaring med 친 tilpasse oss ditt arrangement
        og deres 칮nsker. Vi gleder oss til 친 h칮re fra deg 游꿀
      </p>
    </section>
  </div>
</BaseLayout>
