---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import ConcertPromo from '../components/ConcertPromo.astro';
import Social from '../components/Social.astro';
import YouTubeEmbed from '../components/YouTubeEmbed.astro';
import heroImage from '../assets/images/homepage-image.jpg';
---

<BaseLayout
	title="Los Mexicanacas | Norges grandeste og strammeste partyband!"
	description="Vi er Los Mexicanacas og leverer live musikk, god stemning og fiestagaranti til alle typer arrangementer, fra bryllup og firmafester til bursdager og konserter."
>
	<div class="flex flex-col items-center">
		<Image src={heroImage} alt="Los Mexicanacas" class="w-full" />
		<div class="flex w-full max-w-3xl flex-col gap-8 p-12">
			<section>
				<h1 class="mb-4 text-2xl font-bold md:text-4xl">Los Mexicanacas</h1>
				<p>
					¿Hva er dette? tenker du kanskje. Los Mexicanacas ble stiftet en kald, våt, varm,
					vindstille og vindfull kveld 2017 i Trondheim av en gjeng overivrige studenter som ikke
					fikk nok musikk av å synge i kor. Det er nå et av Nordens grandeste, strammeste og
					varmeste undergrunns latino fusion-band.
				</p>
			</section>
			<ConcertPromo />
			<Social />
		</div>
		<YouTubeEmbed videoId="l168qWtKah0" title="Los Mexicanacas Promo Video" />
	</div>
</BaseLayout>
