---
interface Props {
	title: string;
	year: string;
	tracks: string[];
}

const { title, year, tracks } = Astro.props;
---

<section
	class="border-mexi-red flex flex-col justify-center justify-self-start border-l-4 py-2 pl-4 md:py-4 md:pl-6"
>
	<h3 class="text-mexi-green text-base font-bold md:text-2xl">
		{title}
		<span class="text-mexi-white/50 font-normal">({year})</span>
	</h3>
	<ol class="text-mexi-white/80 mt-1 space-y-0.5 text-sm md:mt-3 md:space-y-2 md:text-lg">
		{tracks.map((track) => <li>{track}</li>)}
	</ol>
</section>
