---
// Concert promotion component
---

<section class="flex flex-col gap-4">
  <h2 class="text-2xl font-semibold">Konsert</h2>
  <p>
    Los Mexicanacas til Rockefeller den 30. mai 2026! Kjøp billetter på
    ticketmaster her:
    <a
      target="_blank"
      href="https://www.ticketmaster.no/event/los-mexicanacas-billetter/455694836"
      class="inline-block underline"
    >
      https://www.ticketmaster.no/event/los-mexicanacas-billetter/455694836
    </a>
  </p>
  <p>
    Los Mexicanacas inviterer til fest på Rockefeller lørdag 30. mai! Hjertelig
    velkommen til en verden av fiesta, hvor alt du har lært på Duolingo kommer
    til nytte (hvis du har hatt spansk, portugisisk eller trøndersk)!
  </p>
  <p>
    Los Mexicanacas er et prisvinnende band som spiller latinsk musikk med
    Nordens varmeste, grandeste og strammeste undergrunns latino-fusion-orkester
    finner frem strenger og messing, og spiller deg og dine til et varmere
    klima. Opplev den prisvinnende stemningen i krysningspunktet mellom slagere
    fra hele verden og latinske rytmer, mens festen foregår både i publikum og
    på scenen.
  </p>
  <p>
    «Det var få som kjente til Los Mexicanacas før Slottsfjellfestivalen. Fredag
    ble de bandet alle snakket om.» – Tønsbergs Blad
  </p>
  <p>«Beste med hele Slottsfjell.» – Gen Z-person</p>
  <p>«Delte ut tequila på Oslo maraton.» – NRK</p>
  <p>
    Det kan hende at du stiller deg selv følgende spørsmål: ¿Hvem (og hva?) er
    egentlig dette? Los Mexicanacas ble stiftet av en gjeng overivrige studenter
    som ikke fikk nok musikk av å synge i kor. Fiesta-markedet var skrint, så vi
    tok ansvar. Noen måtte lage stemningen. Siden har vi spilt landet rundt, med
    konserter på festivaler, konferanser, fester og i bursdagen til faren til en
    kompis – for både én og to flasker tequila!
  </p>
</section>
