---
// Credit component for photographer
---

<span class="text-xs">
  Fotokreditering
  <a href="https://www.instagram.com/andrenesheim/">@andrenesheim</a> /
  <a href="https://www.instagram.com/saltartmusic/">SALT</a>
</span>
