---
// Header component for Los Mexicanacas
---

<header>
  <nav class="text-secondary fixed top-0 z-10 h-header w-screen bg-mexi-black bg-opacity-50 p-4">
    <ul class="flex h-12 items-center justify-around md:text-4xl">
      <li>
        <a href="/booking" class="hover:underline">Booking</a>
      </li>
      <li>
        <a
          href="/"
          class="relative block h-header w-auto md:top-12 md:h-logo-big"
        >
          <img
            src="/logo.png"
            alt="Logo"
            width="500"
            height="500"
            class="aspect-auto h-full w-auto"
          />
        </a>
      </li>
      <li>
        <a href="/about" class="hover:underline">Om oss</a>
      </li>
    </ul>
  </nav>
</header>
