---
// Intro text component
---

<section>
  <h1 class="mb-4 text-2xl font-bold md:text-4xl">Los Mexicanacas</h1>
  <p>
    ¿Hva er dette? tenker du kanskje. Los Mexicanacas ble stiftet en kald, våt,
    varm, vindstille og vindfull kveld 2017 i Trondheim av en gjeng overivrige
    studenter som ikke fikk nok musikk av å synge i kor. Det er nå et av Nordens
    grandeste, strammeste og varmeste undergrunns latino fusion-band.
  </p>
</section>
