---
// Social media links component

import { Mail } from "@lucide/astro";
import Facebook from "../assets/brand-icons/facebook.svg";
import Instagram from "../assets/brand-icons/instagram.svg";
import Spotify from "../assets/brand-icons/spotify.svg";
import Tiktok from "../assets/brand-icons/tiktok.svg";
---

<nav class="flex justify-around gap-4 text-4xl">
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Instagram"
    href="https://www.instagram.com/mexicanacas?igsh=b3B5N3ZycnI0YzBx"
    class="hover:text-primary/80"
  >
    <Instagram height={36} fill={"currentColor"} />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Spotify"
    href="https://open.spotify.com/artist/2I4RX8u3uyBXG0kxvhzLui?si=AULMUxW9SGeEl_sQCOWy8Q"
    class="hover:text-primary/80"
  >
    <Spotify height={36} fill={"currentColor"} />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="TikTok"
    href="https://www.tiktok.com/@mexicanacas"
    class="hover:text-primary/80"
  >
    <Tiktok height={36} fill={"currentColor"} />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Facebook"
    href="https://www.facebook.com/losmexicanacas"
    class="hover:text-primary/80"
  >
    <Facebook height={36} fill={"currentColor"} />
  </a>
  <a href="mailto:booking@mexi.no" class="hover:text-primary/80">
    <Mail class="size-9" />
  </a>
</nav>
