---
// Social media links component
---

<nav class="flex justify-around gap-4 text-4xl">
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Instagram"
    href="https://www.instagram.com/mexicanacas?igsh=b3B5N3ZycnI0YzBx"
    class="hover:text-primary/80"
  >
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Spotify"
    href="https://open.spotify.com/artist/2I4RX8u3uyBXG0kxvhzLui?si=AULMUxW9SGeEl_sQCOWy8Q"
    class="hover:text-primary/80"
  >
    <i class="fa-brands fa-spotify"></i>
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Facebook"
    href="https://www.facebook.com/losmexicanacas"
    class="hover:text-primary/80"
  >
    <i class="fa-brands fa-facebook-f"></i>
  </a>
  <a href="mailto:booking@mexi.no" class="hover:text-primary/80">
    <i class="fa-solid fa-envelope"></i>
  </a>
</nav>
